body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red;
}